@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  /* zinc 950 */
  --background: #09090b;
  --accent: #fd2c5b;
  --text: white;
}

body {
  color: rgb(var(--foreground-rgb));
  /* zinc 950 */
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-trail {
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  /* Modern browsers with support for text-stroke */
  -webkit-text-stroke: 1px var(--text); /* WebKit-based (Safari, Chrome) */
  text-stroke: 1px var(--text); /* Standard */
}

/* .bg-noise {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 500%;
  width: 500%;
  position: fixed;
  opacity: 0.06;
  animation: animateGrain 8s steps(10) infinite;
} */

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
